<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>CORTADOR DE URL'S</title>
    <body>
        <div class="container">

        <h1> Acortador de URL </h1>
                <form action = "/shortUrls" method = "POST" class="my-4 form inline">
                    <label for = "url"> Coloca aquí tu URL completo </label>
                    <input type="url" name="url" id="url">
                    <button class="btn btn-success" type="submit"> Cortar </button>
                </form>
                <table border="1">
                    <thead>
                        <tr>
                          <th>Full URL</th>
                          <th>Short URL</th>
                          <th>Clicks</th>
                        </tr>
                      </thead>
                    <tbody>
                        <% shortUrls.forEach(shortUrl => { %>
                        <tr>
            <td><a href="<%= shortUrl.original %>"><%= shortUrl.original %></a></td>
            <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
            <td><%= shortUrl.clicks %></td>
          </tr>
        <% }) %>
                    </tbody>  
                </table>
            </body>
</head>
        </div>  

    
</body>
</html>